@font-face {
    font-family: 'Pixel'; /* The name you'll use to refer to your font */
    src: url('./unicode-00xx-square.woff2') format('woff2'),
         url('./unicode-00xx-square.woff') format('woff'), /* Modern Browsers */
         url('./unicode-00xx-square.ttf') format('truetype'); /* Fallback for older browsers */
    /* You can include more formats if you have them */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
     font-family: 'onchain'; /* The name you'll use to refer to your font */
     src: url('./BritneyOnchain-Style02.otf') format('opentype'),
   }
   
.dynamicPage{
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.base{
  display: flex;
}

.connect{
  position: fixed;
  top:5%;
  right:10%
}

.components{
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-top: 00%;
 margin-left: 13%;
}

   @media only screen and (max-width: 768px) {
  .dynamicPage{
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 18vh;
    margin-top: 38vh;
    min-height: 10vh;
  } 

  
.components{
  display: flex;
  margin-top: 58%;
  margin-left: 0%;
}

  .base{
    display: none;
  }

  .connect{
    position: absolute;
    top:2.4%;
    right:34%
  }
  }