/* Canvas.css */

.map-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Text color */
  }
  
  
  
  .loader {
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #454778;
  }
  
  
  .canvas-container{
    display: flex;  
    justify-content: center;
    flex-direction: row;
    z-index: 0;
  }
  
  .map {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Fixed column count */
    gap: 1px;
  }
  
  .select-chain-btn{
    width: fit-content;
  }
  
  .dynamic{
    display: flex;
    flex-direction: row;
  }

  .dynamicPend{
    position:fixed;
    top: 50%;
    right: 23%;
    align-self: center;
    
  }
  /* PixelLucky Component Styles */
  .pixelLucky {
    transition: all 0.3s ease; /* Smooth transition for size and color changes */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #ffffff;
    border-style: outset;
    border: 1px solid #fff;
    border-radius: 2px;
  }
  
  .pixelOnchain {
    transition: all 0.3s ease; /* Smooth transition for size and color changes */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
  }
  /* Animation Styles */
  .pixelLucky:hover {
    transform: scale(0.95); /* Scale up the pixel on hover */
  }
  .pixelOnchain:hover {
    transform: scale(0.95); /* Scale up the pixel on hover */
    color: #ffffff;
    background-color: #ffffff;
    border: 0.1px solid #fff;
    border-radius: 0px;
  }
  
  /* Add more animations as needed */
  
  /* Additional Component Styles */
  .row {
    display: flex;
  }
  
  .canvas {
    display: flex;
    flex-direction: column;
  }
  
  /* Add more styles for your canvas container and other components as needed */
  
  
  .pixelo {
    width: 4px;
    height: 4px;
    cursor: pointer;
    background-color: #fff; /* Default pixel color */
  }
  .pixelo:hover {
    background-color: #999; /* Hovered pixel color */
    border:1px solid hsl(0, 100%, 48%);
  }
  
  .pixel {
    width: 7px;
    height: 7px;
    cursor: pointer;
    background-color: #666; /* Default pixel color */
  }
  
  
  
  .pixelfull {
    max-width: 10px;
    max-height: 10px;
    cursor: pointer;
    background-color: #666; /* Default pixel color */
  }
  
  
  .pixel:hover {
    background-color: #999; /* Hovered pixel color */
    border:1px solid hsl(0, 100%, 48%);
  }
  
  .map-coordinates {
    flex-direction: column;
    left: 10%;
    color: #ffffff; /* Text color */
  }
  
  .map-navigation {
    margin-bottom: 1vh;
  }
  .hovered-pixel-card{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%); /* Borders around pixel info cards */
    border-radius: 10px;
    background-color: hwb(0 47% 51%); /* Dark background color */
  }
  
  .painter-display{
    width: 40vh;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5vh;
    border: 1px solid hwb(0 100% 0%); /* Borders around pixel info cards */
    border-radius: 10px;
    background-color: rgb(241, 148, 7); /* Dark background color */
  }
  
  .clicked-pixel-card {
    padding: 1vh;
    border: 1px solid rgb(157, 158, 158); /* Borders around pixel info cards */
    border-radius: 10px;
    max-height: 8vh;
    max-width: 15vw;
    margin-right: 10px;
    background-color: #67e4a4; /* Dark background color */
    color: #000;
  }
  
  .clicked-pixel-cardd {
    padding: 3px;
    border: 1px solid #e9fbf2; /* Borders around pixel info cards */
    border-radius: 10px;
    max-height: 8vh;
    max-width: 4vw;
    font-size: 10px;
    background-color: #4e4a70; /* Dark background color */
    color: #e9fbf2;
  }
  .clicked-pixel-cardd:hover {
    padding: 3px;
    border: 1px solid #4e4a70; /* Borders around pixel info cards */
    border-radius: 10px;
    max-height: 8vh;
    max-width: 4vw;
    font-size: 10px;
    background-color: #e9fbf2; /* Dark background color */
    color: #000000;
  }
  
  .action{
    padding: 3px;
    border: 1px solid #e9fbf2; /* Borders around pixel info cards */
    border-radius: 10px;
    max-height: 8vh;
    max-width: 4vw;
    font-size: 10px;
    background-color: #6c42ba; /* Dark background color */
    color: #000;
  }
  
  .action h3{
    font-family: 'Pixel';
  }
  
  .color-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    min-width: fit-content;
    color: #ffffff; /* Text color */
    padding: 10px;
    background:radial-gradient(#6c42ba, #ba6c70);
    border: 2px solid #d4f7e5;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  }
  
  .color-pickerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    min-width: fit-content;
    color: #ffffff; /* Text color */
    padding: 10px;
    background:radial-gradient(#6c42ba, #ba6c70);
    border: 2px solid #d4f7e5;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  }
  
  .map-navigation {
    display: flex;
   flex-direction: row;
   justify-content: center;
  }
  
  button {
    margin: 5px;
    padding: 15px 20px;
    background-color: hsla(0, 0%, 20%, 0); /* Button background color */
    color: #ffffff; /* Button text color */
    border-radius: 10px;
    cursor: pointer;
    width: 21.5%;
    border: 1px solid #1a1a1a; /* Button border */
  }
  
  .classbutton {
    background-color: #33333300; /* Button background color */
    color: #ffffff; /* Button text color */
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    width: fit-content;
    border: none; /* Button border */
  }
  .side-panel {
    flex: 0 0 auto; /* Make sure the panel doesn't grow or shrink */
    width: 21.5%; /* Adjust the width as needed */
    max-height: min-content;
    padding: 20px; /* Add padding for spacing */
    background-color: hwb(0 0% 100% / 0);
  }
  button:hover {
    background-color: rgb(199, 250, 193); /* Hovered button background color */
  }
  
  .red-box {
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    /* Add other styles as needed */
  }
  
  
  .pixel-canvas {
    display: flex;
    justify-content: flex-start;
    font-family: Arial, sans-serif; /* Use a standard font */
    border-width: 1px;
    border-color: #000;
    min-width: fit-content; /* Limit canvas width for better readability */
  }
  
  
  .neo-brutalism-container {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    border: 1px solid #fff;
  }
  
  .neo-brutalism-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .neo-brutalism-label input[type="radio"] {
    margin-right: 10px;
  }
  .chain-selector-container {
    position: flex-start;
  }
  
  .neo-brutalism-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .neo-brutalism-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #fff;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    width: 95%;
  }
  
  .neo-brutalism-button:hover {
    background-color: #fff;
    color: #000;
  }
  
  .display-container {
    display: flex;
    flex-direction: column;
    min-width: 13vw;
    background: linear-gradient(to right, #e9fbf2,#6c42ba);
    padding: 10px;
    border: 2px solid #d4f7e5;
    border-radius: 10px;
    margin-right: 1vw;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    font-family: Arial, sans-serif;
    color: #fff;
    height: min-content;
    z-index: 0;  
  }
  
  .nft-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background: linear-gradient(to right, #4e4a70,#6c42ba);
    padding: 20px;
    border: 2px solid #d4f7e5;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    font-family: Arial, sans-serif;
    color: #fff;
    z-index: 0;
  }
  
  
  
  .elementNFT {
    max-height: auto;
    margin-bottom: 20px;
    margin-top: 70px;
    margin-left: 70px;
    background:linear-gradient(to right, #67e4a4,#d4f7e5);
    padding: 20px;
    border: 2px solid #ba6c70;
    border-radius: 10px;
    position: relative;
  }
  
  
  
  .element {
    margin-bottom: 5px;
    max-height: min-content;
    max-width: max-content;
    background:linear-gradient(to right, #67e4a4,#d4f7e5);
    padding-left: 2vh;
    border: 2px solid #ba6c70;
    border-radius: 10px;
    padding-right: 2vh;
    position: relative;
  }
  
  
  .element1 {
    background:linear-gradient(to right, #67e4a4,#d4f7e5);
    width: fit-content;
    min-width:17vw;
    height: min-content;
    min-height: 8.5vh;
    padding: 2vh;
    border: 2px solid #ba6c70;
    border-radius: 10px;
    position: relative;
  }
  
  .loading {
    font-size: 2vh;
    font-weight: bold;
    color: #ff6b6b; /* Vibrant Red */
  }
  
  .data {
    font-size:2vh;
    font-weight: bold;
    color: hsl(64, 98%, 55%); /* Bright Green */
  }
  .data1{
    font-size: 2vh;
    font-weight: bold;
    color: #6c42ba; /* Bright Green */
  }
  .data2 {
    font-size: 1.2vh;
    font-weight: bold;
    background: -webkit-radial-gradient(#6c42ba, #ba6c70);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2vh;
  }
  
  .data3 {
    font-size: 1.5vh;
    font-weight: bold;
    color:#4e4a70; /* Bright Green */
    max-width: fit-content;
  }
  
  .data4 {
    font-size: 1.1vh;
    font-weight:lighter;
    background: -webkit-radial-gradient(#6c42ba, #ba6c70);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1vh;
  }
  
  .data5 {
    font-size: 1.5vh;
    font-weight: bold;
    color: hsl(14, 80%, 48%); 
  }
  
  .burned {
    font-size: 2vh;
    font-weight: bold;
    color: hsl(39, 100%, 58%); /* Yellow */
  }
  
  
  .map-overlay {
    position: absolute;
    right: 8vh;
    width: 22vh;
    height: 22vh;
    background: rgba(255, 255, 255, 0.5);
  }
  
  .map-overlay div {
    position: absolute;
    border: 2px solid #FF0000; /* Red border */
    box-sizing: border-box;
  }
  
  .element::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 20%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.7) 100%
    );
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
  }
  
  .bromiso {
    position: absolute;
    left: 17%;
  }

  .element:hover {
    background-color: #67e4a4;
    transition: background-color 0.3s;
  }
  
  
  @media only screen and (max-width: 768px) {

    .dynamic{
      display: flex;
    flex-direction: column;
    }
    .dynamicPend{
      position: absolute;
      top: 105%;
      right: 20%;
    }
    .canvas-container {
      flex-direction: column;
      align-items: center;
    }
  
  .map-gta{
    margin-top: -6vh;
  }
  .pixelfull{
    width: 0.3px;
    height: 0.3px;
  }
  
  .pixel-canvas-full{
    margin-left:10vh;
  }
  
    .pixelo{
      width: 1.8px;
      height: 1.8px;
    }
    .pixel {
      width: 3.6px;
      height: 3.6px;
     
    }
    .pixelLucky {
      width: 36px;
      height: 36px;
     
    }
  
    .coordinate-input button{
      position: absolute;
      top: 20px;
      left: 20px;
      padding: 10px 15px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .coordinate-input button:hover {
      background-color: #0056b3;
  }
    
    .pixel-canvas {
      overflow-x: hidden;
      margin-top: 10vh;
    }
  
    .display-container {
      margin-right: 0vh;
      width: 90%;
    }
  
    .map-overlay{
      max-width: 11vh;
      max-height: 11vh;
      margin-top:44vh;
      margin-right: 25.9vh;
    }
  
    .side-panel {
      width:90vw;
      margin-right: 0;
    }
  
    .classbutton {
      width: 35%;
      font-size: 16px;
      margin: 5px;
    }
  
    .element1{
      min-width: 21.5vh;
      max-width: 33.3vh ;
    }
  
  .pixelLucky {
    width: 16px;
    height: 16px;
  }
  
    .color-picker {
      min-width: 80%;
      max-width: 80%;
      margin-right: 30vh;
      height: fit-content;
    }
  
    .bromiso {
      position: absolute;
      left: 23%;
      bottom:100%
    }

    .data3 {
      font-size: 1.2vh;
    }
  
    .clicked-pixel-card, .burned, .loading, .data, .data1, .data2 {
      font-size: 1.4vh;
    }
  }
  